.Label {
    font-style: italic;
}

.Card {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    width: 80%;
    margin-bottom: 5%;
    opacity: 92%;
}

.Card:first-child {
    margin-left: 50px;
}

.Column {
    margin-top: 2%;
}

