.H2 {
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: -5%;
    padding-top: 5%;
    margin-left: 34%;
}

.Img {
    margin-top: 18%;
    margin-left: 75%;
}