.Background {
    background: url("https://thumbs.dreamstime.com/z/error-page-not-found-something-went-wrong-template-design-message-flat-modern-vector-illustration-concept-184596474.jpg") no-repeat center center fixed; 
    background-size: cover;
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
}

.Link {
    font-size: 25px;
    font-weight: bold;
    font-family: "Garamond", Times, serif;
    text-decoration: underline;
    margin-left: 10%;
    margin-top: 50px;
}