.Background {
    background: url("../../assets/images/payment_success.png") no-repeat center center fixed; 
    background-size: cover;
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
}

.Link {
    font-size: 25px;
    font-weight: bold;
    font-family: "Garamond", Times, serif;
    text-decoration: underline;
    margin-left: 20px;
    margin-top: 20px;
}